html,
body {
    font-family: raleway;
    height: 100%;
    color: white;
    background-color: #1E488C
}

.lato {
    font-family: $roboto;
    font-weight: 300
}

.white {
    color: white
}

.black {
    color: black
}

@media screen and (min-width: 769px) {
    .hero.is-large .hero-body {
        padding-bottom: 18rem;
        padding-top: 2.5rem
    }
}

::-webkit-input-placeholder {
    font-style: italic;
}

 :-moz-placeholder {
    font-style: italic;
}

 ::-moz-placeholder {
    font-style: italic;
}

 :-ms-input-placeholder {
    font-style: italic;
}

.input[disabled],
.textarea[disabled] {
    background-color: #eaeaea
}