/*===================================
=            body & html            =
===================================*/

body{
    // padding-top: 1rem;  
    color: black;
    counter-reset: item; 
    font-weight: 100;       
    font-family: $family-serif;
    background-color: darken(white, 1%);
}


.content-para{
    color: #585858;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif
}

/*=====  End of body & html  ======*/



/*=========================================
=            Navigation styles            =
=========================================*/

.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 230px;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: 100vh;
    overflow-y: scroll;
    background-color: #ecf0f1;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;

    .navbar-item {
        color: black
    }
  }
  
  .slideout-menu-left {
    left: 0;
  }

  .slideout-menu-right {
    right: 0;
  }
  
  .slideout-panel {
    position: relative;
    z-index: 1;
    // will-change: transform;
    background-color: #FFF; /* A background-color is required */
    min-height: 100vh;
  }
  
  .slideout-open,
  .slideout-open body,
  .slideout-open .slideout-panel {
    overflow: hidden;
  }
  
  .slideout-open .slideout-menu {
    display: block;
  }
  
  .panel:before {
    content: '';
    display: block;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.5s ease-in-out;
  }
  
  .panel-open:before {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 99;
  }
  
  // end of slideout menu specs

// navbar-background: #004A7C

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.breadcrumb.has-succeeds-separator li + li:before{
    content: "\f105";
    font-family: "FontAwesome"
}

.navbar-brand-img img{
    max-height: 5.85rem;

} 

/* hamburger menu */

.navbar-burger span:nth-child(1){
    margin-top: -16px    
}

.navbar-burger span:nth-child(2){
    margin-top: 14px    
}

.navbar-burger span:nth-child(3){
    margin-top: 17px
}

.navbar-burger span{
    background-color: #d9d9d9;
    height: 4px;
    width: 56px;
    position: relative
}
.navbar-burger {
    height: 5.25rem;
    width: 6.25rem;
    position: absolute;
    right: 20px    
}

.navbar-burger:hover{
    background-color: transparent;
}

/*=====  End  ======*/


/*=============================================
=            Colors            =
=============================================*/

.white {
    color: white
}
.brand-color {
    color: $white;
    background-color: desaturate(#003e7b, 10%)
}
.original{
    color: white;
    background-color: #003e7b
}

// .material-icons.md-dark { color: rgba(0, 0, 0, 0.54)}
/*=====  End of colors ======*/



/*=================================
=            DIVISIONS            =
=================================*/

@media screen and (min-width: 480px){
    .home-intro{
        height: 75vh;
    }
}

@media screen and (max-width: 480px){
    .home-intro{
        height: 30vh;
    }
}

.home-intro{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-size: 100% auto;     
    background-origin: center;
    background-image: url('/images/home-intro-bg3.jpg')
    // background-position: 30% 34%;
    // .home-intro-brand{
    //     position: absolute;
    //     left: 0;
    //     right: 0;
    //     top: 50%;
    //     text-align: center
    // }        
}

.overlay{
    position: relative; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    color: white;
    background-color: rgba(0,0,0,0.3); /* Black background with opacity */
    // z-index: 2;
    .subtitle{
        color: white
    }
}


/* Accordion */
.accordion {
    cursor: pointer;
    width: 100%;
    text-align: left;
    transition: 0.4s;
}
.accordion.active, .accordion:hover {
    background-color: #ddd;
}
.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the accordion panel. Note: hidden by default */
.accordion-panel {
    padding: 0 18px;
    max-height: 0;    
    background-color: $gray-lighter;
    overflow: hidden;
    transition: max-height 0.2s ease-out;    
}
/* End */

/* Home page divs */
.party_tents{
    background-image: url('/images/party_tent.jpg');
}
.gazebos{
    background-image: url('/images/gazebos.jpg');
}
.warehouse_tents{
    background-image: url('/images/warehs_tent.jpg');
}
.accessories{
    background-image: url('/images/liners.jpg');    
}
.real_parties{
    background-image: url('/images/party/4.jpg')
}
.bg_request{
    background-image: url('/images/liners.jpg')
}

.bespoke_designs{
    background-image: url('/images/blueprint.jpg')
}

.category-intro{
    padding: 3% 0;
    display: flex;
    align-items: flex-end;    
    // background-image: url('/images/party/cat_party.jpg');    
}

/* Title box */
.title-box{
    width: relative;
    // max-width: 60%;
    position: relative;
    top: 0;
    left: 0;
    padding: .3rem;
    background-color: white
}

.visorcard{
  background: rgba(0,0,0,0.85);
  border: 0 !important;
  color: white   
}

fieldset{
    border-width: .3px;
    border-style: solid;
    border-color: $gray-lighter
}

/* Marquee Builder */
div.steps article {
    display: none;
}

div.steps article.active {
    display: block;
}

#states {
    transition: 0.5s all;
}

#states.paused {
    opacity: 0.25;
}

.btn[disabled]{
    opacity: 0.5;
    cursor: default;
}

.btn[disabled]:hover{
    color:inherit;
}

.quick-info{
    padding: .5rem 0 .5rem .5rem; // top, right, bottom, left
    color: black;
    font-family: arial;
    background-color: $gray-lighter;
    .quick-detail{
        font-size: 15px
    }
}

/*=====  End of Divisions ======*/



/*========================
=       Imagery         =
========================*/
.img-circle{
    border-radius: 50%
}


/*=====  End of Imagery ======*/


/*==============================
=            INPUTS            =
==============================*/
input[type=text]:focus {
    background-color: $gray-lighter;
}
/*=====  End of INPUTS  ======*/


/*==================================
=            Conditions            =
==================================*/

/* Navigation Bar */

@media screen and (min-width: 1008px){
    .navbar.is-transparent a.navbar-item:hover, 
    .navbar.is-transparent a.navbar-item.is-active, 
    .navbar.is-transparent .navbar-link:hover, 
    .navbar.is-transparent .navbar-link.is-active{
        color: white
    }
}
@media screen and (min-width: 1008px){
    .navbar{
        min-height: 7.25rem
    }
}   

// @media screen and (min-width: 1008px){
//     .container > .navbar {
//         margin-left: 0
//     }
// }

/*----------  .container  ----------*/
@media screen and (min-width: 1200px){
    .container{
        max-width: 1200px;
        width: 1190px
    }
}

/*----------  .container-content  ----------*/
@media screen and (min-width: 1200px){
    .container-content{
        padding-top: 1.5rem;   
    }
}
@media screen and (max-width: 1024px){
    .container-content{
        padding: 1.5rem;   
    }
}

/*----------  sections  ----------*/
.overview-section{
    height: 250px
}


/*----------  Ordered Lists  ----------*/
li{
    list-style-type: none
}
 ol {
   list-style: none;
     li {
       counter-increment: item;
       margin-bottom: 5px;
     }
     li:before {
       margin-right: 10px;
       margin-bottom: .6rem;       
       content: counter(item);
       background: lighten(#003e7b, 10%);
       border-radius: 100%;
       color: white;
       width: 1.2em;
       text-align: center;
       display: inline-block;
     }   
 }

/*----------  .grid  ----------*/


// .grid {
//   background: #DDD;
// }

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}


.title:not(:last-child), .subtitle:not(:last-child){
    margin-bottom: 0
}

// .build_your_own{
//  background-image: url('/images/blueprint.jpg');
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center; 
//     height: 400px    
// }


.bg-cover{    
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: initial;
    background-position: 30% 70%;     
    height: 300px    
}

.bg-center{
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: initial;
    background-position: 50% 50%;
    background-origin: content-box;
    height: 300px       
}

// imagery backgrounds 
.bg-byo{
    background-image: url('/images/blueprint.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%; 
    background-size: cover;    
}

.navigation{
    background-color: white   
    // lighten(#003e7b, 1%); 
}

.footer{
    background-color: #ecf0f1
    // #003e7b
}
#bd-footer{
    margin-top: 60%;
    background-color: #003e7b    
}

.no-padding-top{ 
  padding-top: -1px
}

.level{
    padding-bottom: 0
}

/*=====  End of Conditions ======*/


/*=============================================
=            Helpers            =
=============================================*/


/*----------  Margin & Padding  ----------*/
.pad_title{
    padding-bottom: 1rem
}

.padding-all{
    padding: 1.3rem
}

.overflow-wrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

/*----------  Font size / color ----------*/
.open-sans{
    font-family: $open-sans
}
.roboto{
    font-family: $roboto
}
.overlock{
    font-family: $overlock
}

.control-text{
    font-family: arial;
    font-weight: 900;
    color: #737373
}

.is_roboto{
    font-family: "roboto", sans-serif, "Open Sans", sans-serif;
    font-size: 23px;
    font-weight: 600
}

.is_lato{
    font-family: "lato", sans-serif;
    font-size: 22px;
    font-weight: normal
}

/*----------  color  ----------*/

/*----------  more ...  ----------*/

.count-number{
    color: #404040;
    font-size: 20px;
    font-weight: 600;
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    background:#eeeeee;
    .count-number > span{
        display: inline;
    }
}


/*----------  Flex positioning ----------*/

.center-all{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.center-vertically{
    display: flex;
    align-items: center; 
}
  
.align-item-top {
    align-self: flex-start;
}

.align-item-bottom {
    align-self: flex-end;
}

/*=====  End of Helpers  ======*/

